@(param:String)(assignmentForm:Form[(String,String,Int,String)])(updateForm:Form[(String,String,String,Int,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor

@views.html.main("Assignment"){

<div id="assignmenttable"></div>
        @if(param =="true"){
        <div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" Style="color:RED;font-weight:Bold">Update Award</h4>
                    </div>
                    <div class="modal-body">
                        @b3.form(action=routes.AssignmentController.update,'id->"updateForm") {
                        @b3.text(updateForm("id"),  'placeholder -> "ID",'id -> "id",'readonly ->true,'Style->"display:none"  )
                        @b3.text(updateForm("name"), '_label -> "NAME", 'placeholder -> "NAME",'id -> "name")
                        @b3.text(updateForm("date"), '_label -> "date",'id -> "date" ,'placeholder -> "DATE")
                        @b3.number(updateForm("marks"), '_label -> "marks", 'placeholder -> "MARKS",'id -> "marks" )
                        @b3.text(updateForm("remarks"), '_label -> "remarks", 'placeholder -> "REMARKS",'id -> "remarks" )
                        <center>@b3.submit('class -> "btn btn-success"){ update }</center>
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

      }


@if(param == "true"){
<div class="pull-right" > <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus" aria-hidden="true">Add Assignment</span></button>
</div>

<!-- Modal -->

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">Add Assignment</h4>
            </div>
            <div class="modal-body">
                @b3.form(action=routes.AssignmentController.add,'id->"addForm") {
                @b3.text(assignmentForm("name"), '_label -> "NAME", 'placeholder -> "NAME",'id -> "name")
                @b3.text(assignmentForm("date"), '_label -> "date",'id -> "date" ,'placeholder -> "DATE")
                @b3.text(assignmentForm("marks"), '_label -> "marks", 'placeholder -> "MARKS",'id -> "marks" )
                @b3.text(assignmentForm("remarks"), '_label -> "remarks", 'placeholder -> "REMARKS",'id -> "remarks" )
                <center>@b3.submit('class -> "btn btn-success",'id -> "addassignment"){ Add }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
}
}@{param}


<script type="text/javascript">
function refreshTable() {
$.get("getassignments", function(data, status){
                $("#assignmenttable").html(data)
        });
}

refreshTable();

       $("#addForm").submit(function(event) {
            event.preventDefault();

            var values = $(this).serialize();
            $.ajax({
            url: "addassignment",
            type: "post",
            data: values,
            success: function (data) {
                $("#addModal").modal('toggle');
                refreshTable();
            }

        });
     });

     $("#updateForm").submit(function(event) {
    event.preventDefault();
    $("#assignmenttable").html('');
         $.ajax({
            url: "updateassignment",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#updateModal").modal('toggle');
                $("#assignmenttable").html(data);
                refreshTable();
            }
        });

     });
</script>
