@(param:String)(list:List[Assignment])
<table id="awards" class="table">
    <tr> <td> ID </td><td>NAME</td><td>MARKS</td><td>DATE</td><td>REMARKS</td>@if(param =="true"){
        <td>UPDATE</td><td>DELETE</td>}  </tr>
    @for(a <- list){

    <tr><td>@a.id</td>
        <td>@a.name</td>
        <td>@a.marks</td>
        <td>@a.date</td>
        <td>@a.remarks</td>
        @if(param=="true"){  <td><button type="button"  value="@a.id" class="btn btn-success update" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-ok" aria-hidden="true">  update  </span></button></td>
        <td><button class="btn btn-danger delete" value="@a.id"><span class="glyphicon glyphicon-remove" aria-hidden="true">  delete  </span> </button></td>}

        }
</table>
<script>
    $(".update").click(function(){
        var id = $(this).attr('value');
        $.get("getlanguage/"+id, function(data, status){
            $("#name").val(data.name);
            $("#date").val(data.date);
            $("#marks").val(data.marks);
            $("#remarks").val(data.remarks);
            $("#id").val(data.id);
            });

    });

$(".delete").click(function(event){
     event.preventDefault();
        $("#assignmenttable").html('');
        var id = $(this).attr('value');
            $.ajax({
                url: "deleteassignment/"+id,
                type: "get",
                data: $(this).serialize(),
                success: function (data) {
                 $("#assignmenttable").html(data);
                    refreshTable();
                }
            });

     });
</script>
