@(param:String)(awardForm:Form[(String,String,String)])(updateForm:Form[(String,String,String,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor

@views.html.main("Awards"){


<div id="awardtable">

</div>
        <div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" Style="color:RED;font-weight:Bold">Update Award</h4>
                    </div>
                    <div class="modal-body">
                        @b3.form(action=routes.AwardsController.update,'id->"updateForm") {
                        @b3.text(updateForm("id"), 'placeholder -> "ID",'id -> "id",'Style->"display:none" )
                        @b3.text(updateForm("name"), '_label -> "NAME", 'placeholder -> "NAME" ,'id -> "name")
                        @b3.text(updateForm("description"), '_label -> "DESCRIPTION",'id -> "description" ,'placeholder -> "DESCRIPTION" )
                        @b3.text(updateForm("year"), '_label -> "YEAR", 'placeholder -> "YEAR", 'id -> "year" )
                        <center>@b3.submit('class -> "btn btn-success"){ update }</center>
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>





<div class="pull-right" > <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#awardModal"><span class="glyphicon glyphicon-plus" aria-hidden="true">Add Award</span></button>
</div>

<!-- Modal -->
<div id="awardModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">Add Award</h4>
            </div>
            <div class="modal-body">
                @b3.form(action=routes.AwardsController.add,'id->"awardForm") {
                @b3.text(awardForm("name"), '_label -> "NAME", 'placeholder -> "NAME" )
                @b3.text(awardForm("description"), '_label -> "DESCRIPTION", 'placeholder -> "DESCRIPTION" )
                @b3.text(awardForm("year"), '_label -> "YEAR", 'placeholder -> "YEAR" )
                <center>@b3.submit('class -> "btn btn-success",'id -> "addaward"){ Add }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

}@{param}

<script type="text/javascript">
function refreshTable() {
$.get("getawards", function(data, status){
                $("#awardtable").html(data)
        });
}

refreshTable();

       $("#awardForm").submit(function(event) {
            event.preventDefault();

            var values = $(this).serialize();
            $.ajax({
            url: "add",
            type: "post",
            data: values,
            success: function (data) {
                $("#awardModal").modal('toggle');
                refreshTable();
            }

        });
     });

     $("#updateForm").submit(function(event) {
    event.preventDefault();
    $("#awardtable").html('');
         $.ajax({
            url: "update",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#updateModal").modal('toggle');
                $("#awardtable").html(data);
                refreshTable();
            }
        });

     });






</script>