@(param:String)(list:List[Awards])(awardForm:Form[(String,String,String)])(updateForm:Form[(String,String,String,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor

@views.html.main("awards"){


<table class="table">
    <tr> <td> ID </td><td>NAME</td><td>DESCRIPTION</td><td>YEAR</td><td>UPDATE</td><td>DELETE</td>  </tr>

    @for(a <- list){

    <tr><td>@a.id</td>
        <td>@a.name</td>
        <td>@a.description</td>
        <td>@a.year</td>
        <td><button type="button" class="btn btn-link " data-toggle="modal" data-target="#myModal1">Update</button></td>
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" Style="color:RED;font-weight:Bold">Update Award</h4>
                    </div>
                    <div class="modal-body">
                        @b3.form(action=routes.AwardsController.update,'id->"updateForm") {
                        @b3.text(updateForm("id"), '_label -> "ID", 'placeholder -> "ID",'id -> "id",'value -> a.id,'readonly ->true )
                        @b3.text(updateForm("name"), '_label -> "NAME", 'placeholder -> "NAME",'value -> a.name ,'id -> "name")
                        @b3.text(updateForm("description"), '_label -> "DESCRIPTION",'id -> "description" ,'placeholder -> "DESCRIPTION",'value -> a.description )
                        @b3.text(updateForm("year"), '_label -> "YEAR", 'placeholder -> "YEAR", 'value -> a.year,'id -> "year" )
                        <center>@b3.submit('class -> "btn btn-success"){ update }</center>
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <td><a href="/deleteaward/@a.id">  delete      </a></td>
        }
</table>

<div class="pull-right" > <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myModal">Add Award</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">Add Award</h4>
            </div>
            <div class="modal-body">
                @b3.form(action=routes.AwardsController.add,'id->"awardFrom") {
                @b3.text(awardForm("name"), '_label -> "NAME", 'placeholder -> "NAME" )
                @b3.text(awardForm("description"), '_label -> "DESCRIPTION", 'placeholder -> "DESCRIPTION" )
                @b3.text(awardForm("year"), '_label -> "YEAR", 'placeholder -> "YEAR" )
                <center>@b3.submit('class -> "btn btn-success",'id -> "addaward"){ Add }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</div>
</div>

}@{param}