@(list:List[Awards])
<table id="awards" class="table">
    <tr> <td> ID </td><td>NAME</td><td>DESCRIPTION</td><td>YEAR</td><td>UPDATE</td><td>DELETE</td>  </tr>
    @for(a <- list){

    <tr><td>@a.id</td>
        <td>@a.name</td>
        <td>@a.description</td>
        <td>@a.year</td>
        <td><button type="button"  value="@a.id" class="btn btn-link update" data-toggle="modal" data-target="#updateModal">Update</button></td>
        <td><button class="btn btn-danger delete" value="@a.id">  delete      </button></td>

        }
</table>
<script>
    $(".update").click(function(){
        var id = $(this).attr('value');
        $.get("getaward/"+id, function(data, status){
            $("#name").val(data.name);
            $("#id").val(parseInt(data.id));
            $("#year").val(data.year);
            $("#description").val(data.description);
            });

    });

$(".delete").click(function(event){
     event.preventDefault();
        $("#awardtable").html('');
        var id = $(this).attr('value');
            $.ajax({
                url: "deleteaward/"+id,
                type: "get",
                data: $(this).serialize(),
                success: function (data) {
                 $("#awardtable").html(data);
                    refreshTable();
                }
            });

     });
</script>
