@(userList:List[User])(implicit msg:Messages)
@import b3.vertical.fieldConstructor

@views.html.main("intern"){

<table id="awards" class="table">
    <tr> <td> USERID </td><td>NAME</td><td>ASSIGNMENT</td><td>AWARDS</td><td>LANGUAGE</td><td>PROGRAMMING LANGUAGE</td>  </tr>

    @for(user <- userList){

    <tr><td>@user.id</td>
        <td>@user.name</td>
        <td><button type="button" class="btn btn-link assignment" data-toggle="modal" data-target="#viewAssignment">View</button></td>
        <td><button type="button" class="btn btn-link awards" data-toggle="modal" value=@user.id data-target="#viewAwards">View</button></td>
        <td><button type="button" class="btn btn-link language" data-toggle="modal" value=@user.id data-target="#viewLanguage">View</button></td>
        <td><button type="button" class="btn btn-link programming" data-toggle="modal" value=@user.id data-target="#viewProgramming">View</button></td>
    </tr>
    }
</table>

        <div id="viewAssignment" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" Style="color:RED;font-weight:Bold">View Assignment</h4>
                    </div>
                    <div class="modal-body">
                        <div id="assignmenttable"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



<div id="viewAwards" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">View Award</h4>
            </div>
            <div class="modal-body">
                <div id="awardtable"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="viewLanguage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">View Language</h4>
            </div>
            <div class="modal-body">
                <div id="languagetable"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="viewProgramming" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">View Programming Language</h4>
            </div>
            <div class="modal-body">
                <div id="programmingtable"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



}@{" "}

<script type="text/javascript">

     $(".assignment").click(function(){
        $.get("getassignments", function(data, status){
                $("#assignmenttable").html(data)
        });
     });

     $(".awards").click(function(){
        $.get("getawards", function(data, status){
                $("#awardtable").html(data)
        });
     });

     $(".language").click(function(){
        $.get("getlanguages", function(data, status){
                $("#languagetable").html(data)
        });
     });

     $(".programming").click(function(){
        $.get("getprogramminglanguages", function(data, status){
                $("#programmingtable").html(data)
        });
     });


</script>
