@(param:String)(list:List[Language])
<table id="awards" class="table">
    <tr> <td> ID </td><td>NAME</td><td>Fluency</td><td>UPDATE</td><td>DELETE</td>  </tr>
    @for(a <- list){

    <tr><td>@a.id</td>
        <td>@a.name</td>
        <td>@a.fluency</td>
          <td><button type="button"  value="@a.id" class="btn btn-success update" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-ok" aria-hidden="true">  update  </span> </button></td>
        <td><button class="btn btn-danger delete" value="@a.id"> <span class="glyphicon glyphicon-remove" aria-hidden="true">  delete  </span>      </button></td>}


</table>
<script>
    $(".update").click(function(){
        var id = $(this).attr('value');
        $.get("getlanguage/"+id, function(data, status){
            $("#name").val(data.name);
            $("#fluency").val(data.fluency);
            $("#id").val(data.id);
            });

    });

$(".delete").click(function(event){
     event.preventDefault();
        $("#languagetable").html('');
        var id = $(this).attr('value');
            $.ajax({
                url: "deletelanguage/"+id,
                type: "get",
                data: $(this).serialize(),
                success: function (data) {
                 $("#languagetable").html(data);
                    refreshTable();
                }
            });

     });
</script>
