@(param:String)(langForm:Form[(String,String)])(updateForm:Form[(String,String,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor
@views.html.main("Language"){

<div id="languagetable"></div>

<div id="updateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" Style="color:RED;font-weight:Bold">Update Language</h4>
                </div>
                <div class="modal-body">
                    @b3.form(action=routes.LanguageController.update,'id->"updateForm") {
                    @b3.text(updateForm("id"), 'placeholder -> "ID",'Style->"display:none", 'id->"id")
                    @b3.text(updateForm("name"), '_label -> "NAME", 'placeholder -> "NAME", 'id->"name")
                    @b3.text(updateForm("fluency"), '_label -> "FLUENCY", 'placeholder -> "fluency", 'id->"fluency")
                    <center>@b3.submit('class -> "btn btn-success"){ update }</center>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


<div class="pull-right"> <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#addModal">Add Language</button>
</div>
<!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:RED;font-weight:BOLD">Add Language</h4>
            </div>
            <div class="modal-body">
                @b3.form(routes.LanguageController.add,'id->"addForm") {
                @b3.text(langForm("name"), '_label -> "NAME", 'placeholder -> "name" )
                @b3.text(langForm("fluency"), '_label -> "FLUENCY", 'placeholder -> "Fluency" )
                <center>@b3.submit('class -> "btn btn-success"){ Add  }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
}@{param}

<script type="text/javascript">
function refreshTable() {
$.get("getlanguages", function(data, status){
                $("#languagetable").html(data)
        });
}

refreshTable();

       $("#addForm").submit(function(event) {
            event.preventDefault();

            $.ajax({
            url: "addlanguage",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#addModal").modal('toggle');
                refreshTable();
            }

        });
     });

     $("#updateForm").submit(function(event) {
    event.preventDefault();
    $("#languagetable").html('');
         $.ajax({
            url: "updatelanguage",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#updateModal").modal('toggle');
                $("#languagetable").html(data);
                refreshTable();
            }
        });

     });
</script>
