@(param:String)(list:List[Programming])
<table id="awards" class="table">
    <tr> <td> ID </td><td>NAME</td><td>Fluency</td><td>UPDATE</td><td>DELETE</td>  </tr>
    @for(a <- list){

    <tr><td>@a.id</td>
        <td>@a.name</td>
        <td>@a.fluency</td>
        @if(param=="true"){
        <td><button type="button"  value="@a.id" class="btn btn-link update" data-toggle="modal" data-target="#updateModal">Update</button></td>
        <td><button class="btn btn-danger delete" value="@a.id">delete</button></td>}
        }
</table>
<script>
    $(".update").click(function(){
        var id = $(this).attr('value');
        $.get("getprogramminglanguage/"+id, function(data, status){
            $("#name").val(data.name);
            $("#fluency").val(data.fluency);
            $("#id").val(data.id);
            });

    });

$(".delete").click(function(event){
     event.preventDefault();
        $("#programmingtable").html('');
        var id = $(this).attr('value');
            $.ajax({
                url: "deleteprogramming/"+id,
                type: "get",
                data: $(this).serialize(),
                success: function (data) {
                 $("#programmingtable").html(data);
                    refreshTable();
                }
            });

     });
</script>
