@(param:String)(awardForm:Form[(String,String)])(updateForm:Form[(String,String,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor

@views.html.main("Programming Language"){

<div id="programmingtable"></div>
<div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" Style="color:RED;font-weight:Bold">Update Programming Language</h4>
                    </div>
                    <div class="modal-body">
                        @b3.form(action=routes.ProgrammingController.update,'id->"updateForm") {
                        @b3.text(updateForm("id"), 'placeholder -> "ID",'Style ->"display:none")
                        @b3.text(updateForm("name"), '_label -> "NAME", 'placeholder -> "NAME" )
                        @b3.text(updateForm("fluency"), '_label -> "Fluency", 'placeholder -> "Fluency")
                        <center>@b3.submit('class -> "btn btn-success"){ update }</center>
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


<div class="pull-right" > <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#addModal"> <span class="glyphicon glyphicon-plus" aria-hidden="true">Add Programming Language</span></button>
</div>

<!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" Style="color:RED;font-weight:Bold">Add Programming Language</h4>
            </div>
            <div class="modal-body">
                @b3.form(action=routes.ProgrammingController.add,'id->"addForm") {
                @b3.text(awardForm("name"), '_label -> "NAME", 'placeholder -> "NAME" )
                @b3.text(awardForm("fluency"), '_label -> "Fluency", 'placeholder -> "Fluency" )
                <center>@b3.submit('class -> "btn btn-success"){ Add }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
}@{param}

<script type="text/javascript">
function refreshTable() {
$.get("getprogramminglanguages", function(data, status){
                $("#programmingtable").html(data)
        });
}

refreshTable();

       $("#addForm").submit(function(event) {
            event.preventDefault();

            $.ajax({
            url: "addprogramming",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#addModal").modal('toggle');
                refreshTable();
            }

        });
     });

     $("#updateForm").submit(function(event) {
    event.preventDefault();
    $("#programmingetable").html('');
         $.ajax({
            url: "updateprogramming",
            type: "post",
            data: $(this).serialize(),
            success: function (data) {
                $("#updateModal").modal('toggle');
                $("#programmingtable").html(data);
                refreshTable();
            }
        });

     });
</script>