@(param:String)(progForm:Form[(String,String,String)])(implicit msg:Messages)
@import b3.vertical.fieldConstructor
@views.html.main("Programming Language"){
<table class="table">  <tr> <td>ID</td><td>NAME</td><td>FLUENCY</td><td>UPDATE</td><td>DELETE</td>  </tr> </table>

<div class="pull-right"> <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myModal">Add Language</button>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:RED;font-weight:BOLD">Add Programming Language</h4>
            </div>
            <div class="modal-body">
                @b3.form(routes.ProgLanguageController.show) {
                @b3.text(progForm("id"), '_label -> "ID", 'placeholder -> "id" )
                @b3.text(progForm("name"), '_label -> "NAME", 'placeholder -> "name" )
                @b3.text(progForm("date"), '_label -> "FLUENCY", 'placeholder -> "Fluency" )
                <center>@b3.submit('class -> "btn btn-success"){ Add  }</center>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
}@{param}